:root {
  --light-background: #ffebeb;
  --dark-background: rgb(19, 19, 27);
  --dark-color-text: rgb(255, 255, 255);
  --titles-color-text: rgba(128, 0, 0, 0.681);
  --situational-color-text: #838382;
  --ligh-box-shadow: rgba(128, 0, 0, 0.267);
  --dark-box-shadow: rgba(65, 75, 123, 0.497);
  --light-icons-color: rgb(255, 105, 105);
  --dark-icons-color: rgb(65, 75, 123);

  --default-color-card: rgba(194, 172, 143, 0.656);
  --poison-color-card: rgba(64, 32, 118, 0.638);
  --rock-color-card: rgba(121, 51, 28, 0.615);
  --ghost-color-card: rgba(91, 28, 122, 0.636);
  --fire-color-card: rgba(203, 133, 3, 0.741);
  --water-color-card: rgba(71, 87, 211, 0.63);
  --grass-color-card: rgba(111, 248, 14, 0.64);
  --electric-color-card: rgba(201, 185, 13, 0.649);
  --ice-color-card: rgba(100, 153, 171, 0.658);
  --dark-color-card: rgba(76, 86, 112, 0.574);
  --fairy-color-card: rgba(255, 119, 192, 0.823);
}

body {
  background-color: var(--dark-background);
}

body::-webkit-scrollbar {
  background-color: rgba(241, 235, 235, 0.79);
  width: 14px;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(14, 14, 26, 0.801);
  border-radius: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: var(--light-color-text);
  background-color: var(--light-background);
  transition: ease-in 0.3s;
}

.App-dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--dark-background);
  color: var(--dark-color-text);
  transition: ease-in 0.3s;
}

.home {
  display: inherit;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 100%;
  gap: 15px;
}

.home__top-img {
  width: min(80%, 800px);
  position: absolute;
  top: 60px;
}

.home__greeting {
  font-size: 30px;
  color: var(--titles-color-text);
}

.home__instruction {
  color: var(--situational-color-text);
}

.login {
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: center;
}

.login__form {
  width: min(75%, 400px);
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  box-shadow: 1px 2px 8px 2px rgba(114, 113, 113, 0.345);
}

.login__input,
.login__btn {
  border: none;
}

.login__input {
  width: 100%;
  height: 30px;
  border-radius: 7px 0 0 7px;
  text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.275);
  padding: 0 10px;
}

.login__btn {
  border-radius: 0 7px 7px 0;
  width: 25px;
  height: 30px;
  color: var(--titles-color-text);
  background-color: transparent;
  cursor: pointer;
  padding-top: 2px;
}

.login__btn:active {
  background-color: var(--titles-color-text);
  color: #ffffff;
}

.header-light,
.header-dark {
  position: sticky;
  top: 0;
  padding: 10px 0;
  width: 100%;
  transition: ease-in 0.3s;
  z-index: 2;
  margin-bottom: 15px;
  border: none;
}

.header-light {
  /* background: linear-gradient(180deg, rgb(181, 2, 2) 40%, rgb(110, 27, 27) 100%); */
  background: var(--light-background);
  box-shadow: 0 1px 10px 2px var(--ligh-box-shadow);
}

.header-dark {
  /* background: linear-gradient(180deg, rgb(6, 6, 6) 0%, rgb(147, 1, 1) 70%); */
  background: var(--dark-background);
  box-shadow: 0 1px 10px 2px var(--dark-box-shadow);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__pokebola,
.navbar__pokedex-logo {
  margin-left: 20px;
}

.navbar__pokedex-logo {
  width: min(60%, 500px);
}

@keyframes rotar {
  from{transform: rotate(90deg);}

  to{transform: rotate(10deg);}
}

.icon-dark {
  animation-name: rotar;
  animation-duration: 0.2s;
}

.icon-light {
  animation-name: rotar;
  animation-duration: 0.3s;
}

.lightmode__btn,
.darkmode__btn {
  display: flex;
  border-radius: 20px;
  background: transparent;
  font-size: 20px;
  padding: 3px 10px;
  cursor: pointer;
  margin-right: 4%;
  align-self: flex-end;
  position: absolute;
  top: 28%;
  right: 4%;
}

.lightmode__btn {
  color: var(--light-icons-color);
  border: none;
  box-shadow: 2px 2px 8px 3px var(--ligh-box-shadow);
}

.darkmode__btn {
  color: var(--dark-icons-color);
  border: none;
  box-shadow: 2px 2px 8px 3px rgba(65, 75, 123, 0.497);
}

.lightmode__btn:active {
  color: rgb(98, 0, 0);
  background-color: rgb(255, 105, 105);
  box-shadow: 2px 2px 8px 3px rgba(98, 0, 0, 0.615);
}

.darkmode__btn:active {
  color: rgb(127, 10, 252);
  background-color: rgb(0, 0, 51);
  box-shadow: 2px 2px 8px 3px rgba(127, 10, 252, 0.366);
}

@media (min-width: 478px) {

  .lightmode__btn,
  .darkmode__btn {
    padding: 7px 18px;
    font-size: 25px;
    top: 27%;
  }
}

@media (min-width: 768px) {

  .lightmode__btn,
  .darkmode__btn {
    padding: 8px 20px;
    font-size: 30px;
  }

  .lightmode__btn:hover {
    color: rgb(123, 22, 22);
    background-color: rgb(255, 105, 105);
    box-shadow: 2px 2px 8px 3px rgba(123, 22, 22, 0.823);
    transition: ease-in 0.35s;
  }


  .darkmode__btn:hover {
    color: rgb(127, 10, 252);
    background-color: rgb(0, 0, 51);
    box-shadow: 2px 2px 8px 3px rgba(127, 10, 252, 0.366);
    transition: ease-in 0.35s;
  }

}

.inputs__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  width: 100%;
  gap: 20px;
}

.input__search {
  border-radius: 10px;
  border: none;
  width: 70%;
  padding: 8px;
  outline: none;
  box-shadow: 1px 2px 8px 1px rgba(172, 172, 172, 0.859);
}

.input__filter {
  display: flex;
  justify-self: end;
  width: 40%;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 1px 2px 8px 1px rgba(172, 172, 172, 0.859);
  cursor: pointer;
  text-transform: capitalize;
}

.input__filter-options {
  text-transform: capitalize;
  color: #5b5b5b;
  font-weight: 500;
  text-align: center;
  font-family: 'Arvo', serif;
  outline: none;
}

@media (min-width: 768px) {
  .inputs__container {
    /* align-items: center; */
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    gap: 10px;
  }

  .input__search {
    border-radius: 10px;
    border: none;
    width: 20%;
    padding: 8px;
    box-shadow: 2px 3px 8px 2px rgba(172, 172, 172, 0.859);
  }

  .input__filter {
    display: flex;
    justify-self: end;
    width: 15%;
    height: 25px;
    box-shadow: 2px 3px 8px 2px rgba(172, 172, 172, 0.859);
  }
}

.pagination__container-dark,
.pagination__container-light {
  display: flex;
  align-self: center;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 5px;

  width: min(81%, 350px);
  padding: 0;
  border-radius: 4px;
  background-color: transparent;
}

.pagination__container-dark {
  border: 0.5px solid var(--dark-icons-color);
}

.pagination__container-light {
  border: 0.5px solid var(--light-icons-color);
}

.pagination__number-container {
  display: flex;
  padding: 0;
  gap: 17px;
  align-self: center;
}

.pagination__prev-dark,
.pagination__prev-light,
.pagination__next-dark,
.pagination__next-light {
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  padding: 0 10px;
  padding-bottom: 3.5px;
  border-radius: 3px;
  height: 100%;
}

.pagination__prev-dark,
.pagination__next-dark {
  background-color: var(--dark-icons-color);
  color: white;
}

.pagination__prev-light,
.pagination__next-light {
  background-color: var(--light-icons-color);
}

.page-number {
  cursor: pointer;
  font-weight: 600;
  padding: 4px 5px 3px 5px;
}

.page-active-light,
.page-active-dark {
  border-radius: 3px;
  padding: 4px 5px 3px 5px;
}

.page-active-light {
  background-color: var(--light-icons-color);
  color: black;
}

.page-active-dark {
  background-color: var(--dark-icons-color);
  color: white;
}

@media (min-width: 768px) {

  .page-number {
    padding: 4px 10px 3px 10px;
  }

}

.pokedex {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  min-height: 100vh;
}

.pokedex__greeting {
  color: var(--titles-color-text);
}

.pokecards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

.pokecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(85%, 350px);
  border-radius: 12px;
  padding: 0 10px;
  cursor: pointer;
}

.pokecard:hover {
  transform: scale(1.02);
  transition: ease 1s;
}

.default,
.poison,
.ghost,
.rock,
.fire,
.water,
.grass,
.electric,
.ice,
.dark,
.fairy {
  border: 10px solid;
  /* border-bottom: 0; */
}

.default {
  color: var(--default-color-card);
  background: linear-gradient(180deg, rgba(200, 193, 200, 0.663) 0%, rgb(218, 195, 130) 100%);
}

.poison {
  color: var(--poison-color-card);
  background: linear-gradient(180deg, rgba(180, 111, 244, 0.6) 15%, rgba(0, 7, 78, 1) 88%);
}

.rock {
  color: var(--rock-color-card);
  background: linear-gradient(180deg, rgba(161, 116, 9, 0.623) 11%, rgb(42, 38, 2) 100%);
}

.ghost {
  color: var(--ghost-color-card);
  background: linear-gradient(180deg, rgba(61, 45, 107, 0.91) 15%, rgb(153, 96, 158) 85%);
}

.fire {
  color: var(--fire-color-card);
  background: linear-gradient(180deg, rgba(255, 183, 60, 0.779) 15%, rgba(179, 33, 33, 1) 89%);
}

.water {
  color: var(--water-color-card);
  background: linear-gradient(180deg, rgba(132, 156, 243, 0.677) 0%, rgb(9, 10, 109) 87%);
}

.grass {
  color: var(--grass-color-card);
  background: linear-gradient(180deg, rgba(120, 214, 154, 0.675) 15%, rgb(20, 62, 2) 88%);
}

.electric {
  color: var(--electric-color-card);
  background: linear-gradient(180deg, rgba(251, 235, 91, 0.79) 3%, rgb(87, 73, 28) 57%);
}

.ice {
  color: var(--ice-color-card);
  background: linear-gradient(180deg, rgba(117, 255, 255, 0.841) 0%, rgb(3, 58, 55) 100%);
}

.dark {
  color: var(--dark-color-card);
  background: linear-gradient(180deg, rgba(103, 102, 103, 0.714) 0%, rgba(18, 18, 18, 1) 100%);
}

.fairy {
  color: var(--fairy-color-card);
  background: linear-gradient(180deg, rgba(223, 108, 255, 0.725) 0%, rgb(37, 28, 56) 100%);
}

.pokecard__img {
  width: min(60%, 280px);
}

.pokecard__info-light,
.pokecard__info-dark {
  width: 100%;
  border-radius: 10px 10px 0 0;
  transition: ease-in 0.3s;
}

.pokecard__info-light p,
.pokecard__info-dark p {
  color: grey;
}

.pokecard__info-light {
  background-color: var(--light-background);
}

.pokecard__info-dark {
  background-color: var(--dark-background);
}

.pokecard__name-light,
.pokecard__name-dark {
  border-radius: 10px 10px 0 0;
  margin: 10px 0 0 0;
  padding: 5px 10px;
  width: 100%;
  text-transform: capitalize;
  transition: ease-in 0.3s;
}

.pokecard__name-light {
  background: var(--light-background);
}

.pokecard__name-dark {
  background-color: var(--dark-background);
}

.pokecard__type-light,
.pokecard__type-dark {
  border-bottom: 1px solid rgba(145, 145, 145, 0.081);
  padding-bottom: 4px;
  text-transform: capitalize;
  transition: ease-in 0.3s;
}

.pokecard__type-light {
  color: black;
}

.pokecard__type-dark {
  color: white;
}

.pokecard__stats-light,
.pokecard__stats-dark {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: start;
  padding: 10px;
  gap: 40px;
  font-size: 15px;
  width: 100%;
  transition: ease-in 0.3s;
}

.pokecard__stats-light {
  background: var(--light-background);
  color: rgb(72, 72, 72);
}

.pokecard__stats-dark {
  background-color: var(--dark-background);
  color: white;
}

.pokecard__separator {
  margin: 10px 0;
  padding: 0;
  text-align: center;
}

.pokecard__separator p {
  color: grey;
}

.pokecard__stat {
  margin: 10px 0;
}

.specific__pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.specific__pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(90%, 600px);
  /* border-bottom: 1px solid black; */
  border-radius: 15px 15px 10px 10px;
  margin-top: 20px;
}

.specific__pokemon-img {
  width: min(80%, 500px);
}

.specific__pokemon-name {
  text-transform: capitalize;
  margin: 15px 0;
  border: none;
  background: transparent;
}

.specific__pokemon-info-dark,
.specific__pokemon-info-light {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 94%;
  gap: 10px;
  border-radius: 15px 15px 0 0;
  padding-bottom: 30px;
  transition: ease-in 0.3s;
}

.specific__pokemon-info-light {
  background-color: var(--light-background);
  color: black;
}

.specific__pokemon-info-dark {
  background-color: var(--dark-background);
  color: var(--dark-color-text);
}

.specific__pokemon-weight-height {
  display: flex;
  width: 100%;
  gap: 15%;
  align-items: center;
  justify-content: center;
}

.specific__pokemon-wh {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3px;
}

.specific__pokemon-types-skills {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  flex-wrap: wrap;
}

.specific__pokemon-types-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 40%;
}

.specific__pokemon-types-separator {
  display: flex;
  gap: 4%;
  text-transform: capitalize;
}

.specific__pokemon-type {
  padding: 3px;
  border: none;
  border-radius: 10px;
  color: rgb(105, 105, 105);
  background-color: #dddee0;
}

.specific__pokemon-skills-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
}

.specific__pokemon-skills-separator {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-transform: capitalize;
}

.specific__pokemon-skill {
  padding: 3px;
  background-color: #dddee0;
  color: rgb(105, 105, 105);
  border-radius: 10px;
}

.specific__pokemon-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.specific__pokemon-stats-box {
  display: flex;
  gap: 30px;
}

.specific__pokemon-stats-separator-dark, 
.specific__pokemon-stats-separator-light {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.specific__pokemon-stats-separator-dark {
  background-color: var(--dark-icons-color);
}

.specific__pokemon-stats-separator-light {
  background-color: var(--light-icons-color);
}

.footer-light,
.footer-dark {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
  width: 100%;
  position: relative;
  margin-top: 10px;
  bottom: 0;
  border-top: 1px solid rgba(123, 123, 123, 0.184);
}

.footer__social-media {
  border: none;
}

.footer__icon-light,
.footer__icon-dark {
  cursor: pointer;
  font-size: 35px;
  color: var(--titles-color-text)
}

.footer__icon-light {
  color: var(--light-icons-color);
}

.footer__icon-dark {
  color: var(--dark-icons-color);
}

.footer__icon-light:active,
.footer__icon-dark:active {
  transform: scale(1.1);
  transition: 0.4s;
}

.footer__icon-light:active {
  color: rgb(123, 22, 22)
}

.footer__icon-dark:active {
  color: rgb(127, 10, 252)
}

.footer__social-media {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

@media(min-width: 768px) {

  .footer__icon-light,
  .footer__icon-dark {
    font-size: 45px;
  }

  .footer__icon-light:hover,
  .footer__icon-dark:hover {
    transform: scale(1.1);
    transition: 0.4s;
  }

  .footer__icon-light:hover {
    color: rgb(123, 22, 22)
  }

  .footer__icon-dark:hover {
    color: rgb(127, 10, 252)
  }
}